<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>myservlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>myservlet.searchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>myservlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>myservlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>myservlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reOrderServlet</servlet-name>
        <servlet-class>myservlet.reOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>myservlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>myservlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlantServlet</servlet-name>
        <servlet-class>myservlet.getPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountServlet</servlet-name>
        <servlet-class>myservlet.manageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>myservlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>myservlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrderServlet</servlet-name>
        <servlet-class>myservlet.manageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantServlet</servlet-name>
        <servlet-class>myservlet.managePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoryServlet</servlet-name>
        <servlet-class>myservlet.manageCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>myservlet.searchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPlantServlet</servlet-name>
        <servlet-class>myservlet.searchPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCategoryServlet</servlet-name>
        <servlet-class>myservlet.searchCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfileServlet</servlet-name>
        <servlet-class>myservlet.changeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <servlet-class>myservlet.addToShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearCookieServlet</servlet-name>
        <servlet-class>myservlet.clearCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>myservlet.orderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllOrderServlet</servlet-name>
        <servlet-class>myservlet.getAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCartServlet</servlet-name>
        <servlet-class>myservlet.viewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCompletedOrderServlet</servlet-name>
        <servlet-class>myservlet.getCompletedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCanceledOrderServlet</servlet-name>
        <servlet-class>myservlet.getCanceledOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProcessingOrderServlet</servlet-name>
        <servlet-class>myservlet.getProcessingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeOrderServlet</servlet-name>
        <servlet-class>myservlet.completeOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantStatusServlet</servlet-name>
        <servlet-class>myservlet.updatePlantStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItemCartServlet</servlet-name>
        <servlet-class>myservlet.deleteItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateItemCartServlet</servlet-name>
        <servlet-class>myservlet.updateItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewCateServlet</servlet-name>
        <servlet-class>myservlet.addNewCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByCustomerIDServlet</servlet-name>
        <servlet-class>myservlet.searchByCustomerIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategoryServlet</servlet-name>
        <servlet-class>myservlet.editCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewPlantServlet</servlet-name>
        <servlet-class>myservlet.addNewPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAllCartServlet</servlet-name>
        <servlet-class>myservlet.deleteAllCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantServlet</servlet-name>
        <servlet-class>myservlet.updatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByStatusServlet</servlet-name>
        <servlet-class>myservlet.searchByStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quickLoginServlet</servlet-name>
        <servlet-class>myservlet.quickLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reOrderServlet</servlet-name>
        <url-pattern>/reOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlantServlet</servlet-name>
        <url-pattern>/getPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountServlet</servlet-name>
        <url-pattern>/manageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrderServlet</servlet-name>
        <url-pattern>/manageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantServlet</servlet-name>
        <url-pattern>/managePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoryServlet</servlet-name>
        <url-pattern>/manageCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPlantServlet</servlet-name>
        <url-pattern>/searchPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCategoryServlet</servlet-name>
        <url-pattern>/searchCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfileServlet</servlet-name>
        <url-pattern>/changeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToShoppingCartServlet</servlet-name>
        <url-pattern>/addToShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearCookieServlet</servlet-name>
        <url-pattern>/clearCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/orderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllOrderServlet</servlet-name>
        <url-pattern>/getAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCartServlet</servlet-name>
        <url-pattern>/viewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCompletedOrderServlet</servlet-name>
        <url-pattern>/getCompletedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCanceledOrderServlet</servlet-name>
        <url-pattern>/getCanceledOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProcessingOrderServlet</servlet-name>
        <url-pattern>/getProcessingOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeOrderServlet</servlet-name>
        <url-pattern>/completeOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantStatusServlet</servlet-name>
        <url-pattern>/updatePlantStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItemCartServlet</servlet-name>
        <url-pattern>/deleteItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateItemCartServlet</servlet-name>
        <url-pattern>/updateItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewCateServlet</servlet-name>
        <url-pattern>/addNewCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByCustomerIDServlet</servlet-name>
        <url-pattern>/searchByCustomerIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategoryServlet</servlet-name>
        <url-pattern>/editCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewPlantServlet</servlet-name>
        <url-pattern>/addNewPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAllCartServlet</servlet-name>
        <url-pattern>/deleteAllCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantServlet</servlet-name>
        <url-pattern>/updatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByStatusServlet</servlet-name>
        <url-pattern>/searchByStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quickLoginServlet</servlet-name>
        <url-pattern>/quickLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
